@charset "UTF-8";

/* --- jQuery Class --- */
.green {
	color : green !important;
	font-weight: bold !important;
}

.gray {
	background-color : gray;
}

.view {
	height: 40px !important;
	width: 190px;
	padding-left: 10px;
	font-size: 15px !important;
	letter-spacing: -1px;
	text-align: left;
	line-height: 40px !important;
	background: lightgray;
	text-decoration: none;
}

/* --------------------- */

body {
	margin: 0;
}

hr {
margin: 8px 0 !important;
}

.headerhr {
	border: 1px solid #f3f3f3;
}

.container {
	width: 1140px;
	margin: 0 auto;
}

footer {
	clear: both;
    text-align: center;
    font-size: 13px;
    background-color: #f3f3f3;
    padding: 20px 0;
}

ul.allmenu > li {
	width: 1000px !important;
}

li.category:hover {
	color : green;
	font-weight: bold;
}

.write {
	float: right;
	margin: 16px 5px;
}

/* --------------------- */


/* --- top-menu Class --- */

#top-menu {
	width: 1140px;
	height: 60px;
	margin: 0 auto;
}

/* div */
#logo {
	float:left;
}

/* store */
.store {
	float: left;
	margin: 15px 0 0 30px;
	font-size: 18px;
	font-weight: bold;
	color: green;
}

.store > button {
	border: none;
	background: none;
	font-size: 18px;
	font-weight: bold;
	color: green;
}

/* div */
.search {
	float: left;
	width: 500px;
	margin: 16px 0 0 20px;
}

#searchType {
	float: left;
	border: 1px solid #5B9E28;
}

#keywordInput {
    width: 350px;
    height: 26px;
    float: left;
    border: 1px solid #5B9E28;
}

.btn_search {
    background-color: #5B9E28;
    border-radius: 0 7px 7px 0;
    font-weight: bold;
    color: white;
    height: 26px;
    border : none;
    float: left;
}

/* first navigation */
ul.nav1 {
	list-style-type: none;
	padding: 0;
	margin: 16px 0;
	float: left;
}

ul.nav1 > li {
	float: left;
	
}
ul.nav1-2 {
	list-style-type: none;
	margin: 16px 0;
	float: right;
}

ul.nav1-2 > li {
	float: left;
	font-size: 20px;
	padding: 0 5px;
	text-align: center;
	position: relative;
}

ul.nav1-2 > li > ul {
	position: absolute;
	list-style-type: none;
	padding: 0;
	margin: 0;
}

ul.nav1-2 > li > ul > li {
	height: 0;
 	font-size: 0;
 	line-height: 0;
}

ul.nav1-2 > li:hover > ul > li {
	width: 100px;
	height: 40px;
	padding: 0 0 0 5px;
	font-size: 15px;
	line-height: 40px;
	background: lightgray;
	text-align: left;
}

ul.nav1-2 > li > ul > li > a {
	text-decoration: none;
	color: black;
}

/* img button */
.btn_cart {
	background-color: white;
	border: none;
}

.btn_login {
    background-color: #5B9E28;
    border-radius: 7px;
    border: thin solid #5B9E28;
    font-weight: bold;
    font-size: 14px !important;
    color: white;
    height: 26px !important;
}

.btn_write {
	background-color: #5B9E28;
    border-radius: 0 7px 7px 0;
    font-size: 14px !important;
    font-weight: bold;
    color: white;
    height: 26px !important;
    border : none;
    float: left;
}

/* --------------------- */

/* --- sec-menu Class --- */
#sec-menu {
	width: 1140px;
	height: 27px;
	margin: 0 auto;
}

#sec-menu ul li{
  float: left;
  font-size: 16px;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav2 {
  float: left;
/*   overflow: hidden; */
}

.nav2 .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: black;
  text-align: center;
  width: 150px;
  background-color: white;
  margin: 3px 0 0 0;
  border-right: 1px solid #d9d9d9;
}

.dropdown-content {
  display: none;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.nav2:hover .dropdown-content {
  display: block;
}

.column {
  float: left;
  width: 150px;
  margin: 13px 0 0 -16px;
  padding: 10px;
  background-color: lightgray;
  height: 350px;
}

.column li {
  color: black;
  width: 150px;
  padding: 16px;
  margin-left: -16px;
  text-decoration: none;
  display: block;
  font-size: 16px;
letter-spacing: -1px;
  text-align: left;
}

.column li a {
	color: black;
}

.column2 {
  float: left;
  width: 150px;
  margin: 13px 0 0 -13px;
  padding: 10px;
  background-color: lightgray;
}

.column2 li {
  color: black;
  width: 150px;
  padding: 16px;
  margin-left: -16px;
  text-decoration: none;
  display: block;
  font-size: 16px;
letter-spacing: -1px;
  text-align: left;
}

.column2 li a {
	color: black;
}

.category {
	width: 150px !important;
	text-align: left !important;
}