@charset "UTF-8";


/* --- jQuery Class --- */
.green {
	color : green !important;
	font-weight: bold !important;
}

/* --------------------- */

#logo {
	float:left;
	font-size: 40px;
	font-style:italic;
	font-weight: bold;
	text-align: left;
}

#logo > a {
	color: green;
	text-decoration: none;
}

#top-menu {
	width: 1140px;
	height: 60px;
	margin: 0 auto;
}

.category {
	width: 150px !important;
	text-align: left !important;
}

.store {
	float: left;
	margin: 15px 0 0 30px;
	font-size: 18px;
	font-weight: bold;
	color: green;
}

.store > button {
	border: none;
	background: none;
}

.search {
	float: left;
	width: 600px;
	margin: 16px 0 0 40px;
}

#searchType {
	float: left;
}

#sec-menu {
	width: 1140px;
	height: 60px;
	margin: 0 auto;
}

ul.nav1 {
	list-style-type: none;
	padding: 0;
	margin: 16px 0;
	float: left;
}

ul.nav1 > li {
	float: left;
}
ul.nav1-2 {
	list-style-type: none;
	padding: 0;
	margin: 16px 0;
	float: right;
}

ul.nav1-2 > li {
	float: left;
	font-size: 20px;
	padding: 0 5px;
	position: relative;
}

ul.nav1-2 > li > ul {
	position: absolute;
	list-style-type: none;
	padding: 0;
	margin: 0;
}

ul.nav1-2 > li > ul > li {
	height: 0;
	font-size: 0;
	line-height: 0;
	z-index: 9999;
}

ul.nav1-2 > li:hover > ul > li {
	width: 100px;
	height: 40px;
	font-size: 15px;
	line-height: 40px;
	
	background: gray;
	
	text-align: left;
	
	text-decoration: none;
}

.write {
	float: right;
	margin: 16px 5px;
}

ul.nav2 {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

ul.nav2 > li {
	float: left;
	border-right: 1px solid #d9d9d9;
	width: 200px;
	font-size: 18px;
	letter-spacing: -1px;
	text-align: center;
	position: relative;
}

ul.nav2 > li > ul {
	position: absolute;
	list-style-type: none;
	padding: 0;
	margin: 0;
}

ul.nav2 > li > ul > li {
	height: 0;
	font-size: 0;
	line-height: 0;
}

ul.nav2 > li:hover > ul > li {
	height: 40px;
	width: 200px;
	padding-left: 10px;
	font-size: 15px;
	letter-spacing: -1px;
	text-align: left;
	line-height: 40px;
	background: lightgray;

	text-decoration: none;
}

.headerhr {
	margin-top: 0;
	margin-bottom: 0px;
	clear: both;
	
}

footer {
}