@charset "UTF-8";


* { font-size: 1.03em;}
table { border: 1px solid #ccc; border-collapse: collapse }


.main {  width: 100%; 
/* 	margin-top: 50px; */
}

/* ------------ mypage// 전체 설정하기   end ---------------------- */
/* ------------ /mypage/main.jsp    start ------------------------- */
div.left_section { 
	width: 30%;
	display: inline;
	margin-top: 30px;
	margin-right: 15px;
	float: left;
/* 	background-color: #DBF227; */
}
div.verticalline {
 	width: 0.3%; 
	height: 700px;
 	margin-right: 15px; 
	
	border-left-width: medium; 
	border-left-style: solid; 
	border-left-color: #ccc;

	float: left;
	position: relative;
/* 	background-color: #005C53; */
 }
div.right_section { 
	width: 50%; 
	margin-left: 0;
	margin-top: 30px;
	float: left;
/* 	display: block; --*/
/* 	position: absolute; --*/
	left: 760px;
/* 	width: 300px;-- */
/* 	background-color: #D6D58E; */
}

/* .right_section td { padding-top: 40px; } */
/* .right_section >table>tr>td>a { padding-top: 40px; } */
/* .right_section td { font-size: larger; } */


/* ------------/mypage/main.jsp   end----------------------------- */
/* ------------/mypage/userInfo.jsp   start----------------------- */
/* #userinfo { width: 100%; } */
/* #userinfo th { 	안되는데?? */
/* 	width: 40%; */
	
/* } */
/* #userinfo td { 	이것두 안되는데?? */
/* 	width: 60%; */
/* } */



#main {
	width: 100%;
}
#uinfoMenu { 
	
	font-size: 1.5em;
	width: 18%;
	list-style:none;
	text-align: left;
	float: left;
	margin-right: 100px;
}
div#uinfoMenu a{
	
   font-size: 0.9em;
/*    width: 30%;  */
}
 
/* #main { background-color: green;}  */
 
#line {
	width: 1%;	
}
 
 
#uinfoRight {
	width: 73%;
	
	float: left;
	
/* 	left:300px; */
/* 	background: yellow; */
}
 
/*  input { */
	
/* } */
 
 
 
 
 
 
 
 
 
 
 
 
/* div#rightMenu th, td { */
/* 	width: 65% */
/* }    */
   
   
/* ------------/mypage/userInfo.jsp   end------------------------- */




